// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$primary: #000;
$primary_hover: #fff;
$secondary: transparent;
