// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-secondary,
.btn-outline-secondary {
    color: $primary;
    border-color: $primary;

    &:hover {
        background: $primary;
        color: $primary_hover;
    }
}

.nav-logo {
    width: 145px;
    position: relative;
    top: -3px;
    padding: 0.5rem 0;
}
